<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - 库存管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="toggleInventoryLink" class="nav-link btn-custom" href="#">查看库存</a>
        <div class="navbar-links">
          <a class="nav-link btn-custom" href="{{ url_for('product') }}">添加产品</a>
          <a class="nav-link btn-custom" href="{{ url_for('purchase') }}">记录入库</a>
          <a class="nav-link btn-custom" href="{{ url_for('sale') }}">记录出库</a>
        </div>
      </nav>
      <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const toggleInventoryLink = document.getElementById('toggleInventoryLink');
        const inventoryList = document.getElementById('inventoryList');

        toggleInventoryLink.addEventListener('click', function (event) {
          event.preventDefault();
          if (inventoryList.style.display === 'none') {
            inventoryList.style.display = 'block';
            toggleInventoryLink.textContent = '隐藏库存';
          } else {
            inventoryList.style.display = 'none';
            toggleInventoryLink.textContent = '查看库存';
          }
        });

        // 自动显示库存
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('show_inventory')) {
          inventoryList.style.display = 'block';
          toggleInventoryLink.textContent = '隐藏库存';
        }

      });
    </script>
  </body>
</html>


