{% extends "layout.html" %}
{% block content %}
  <h1>添加产品</h1>
  <form method="POST" action="">
    <p>
      <label for="name">产品ID</label><br>
      <input type="number" id="id" name="id" size="32" min="0" required>
    </p>
    <p>
      <label for="name">产品名称</label><br>
      <input type="text" id="name" name="name" size="32" required>
    </p>
    <p>
      <label for="specification">规格</label><br>
      <input type="text" id="specification" name="specification" size="32" required>
    </p>
    <p>
      <label for="unit">单位</label><br>
      <input type="text" id="unit" name="unit" size="32" required>
    </p>
    <p>
      <label for="initial_stock">期初库存数量</label><br>
      <input type="number" id="initial_stock" name="initial_stock" size="32" min="0" required>
    </p>
    <p><input type="submit" value="提交"></p>
  </form>
{% endblock %}

