{% extends "layout.html" %}
{% block title %}期初库存添加{% endblock %}
{% block content %}

  <div class="container">
    <h1>期初库存添加</h1>
    <form method="POST" action="">
      <p></p>
      <p>
        <label for="id">产品ID</label><br>
        <input type="text" id="id" name="id" size="32" required>
      </p>
      <p>
        <label for="name">产品名称</label><br>
        <input type="text" id="name" name="name" size="32" required>
      </p>
      <p>
        <label for="specification">规格</label><br>
        <input type="text" id="specification" name="specification" size="32" required>
      </p>
      <p>
        <label for="initial_stock">期初库存数量</label><br>
        <input type="number" id="initial_stock" name="initial_stock" size="32" min="0" required>
      </p>
      <p><button type="submit" class="nav-link btn-custom">提交</button></p>
      <a class="nav-link btn-custom" href="{{ url_for('index') }}">返回</a>
    </form>
  </div>
{% endblock %}


